html{
    background-color: #222426;
    max-width: 70%;
    margin:auto;
}
.wrapper {
    display: grid;
    grid-template-areas: "paragraph imagehalf";
    
}
#paragraph{
    display:inline-block;
    grid-area: paragraph; 
    max-width: 90%;
    margin:auto;
}
#imagehalf {
    grid-area: imagehalf;
    max-width: 100%;
    margin:auto;
}
.row {
    display: flex;
    flex-direction: row;
    text-align: center;

  }
h1{
    font-size: 24;
}
.column {
    flex: 100%;
    flex-direction: row;
    justify-content: center;
  }
.centered{
    max-width: 50%;
    margin: auto;
}
h1, h2{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: #5e9400
}
h2{
    font-size: 20
}
a:link, a:visited, a:hover, a:active {
    font-size: 16;
}
a:link {
	color: #a8a095;
}
 a:visited {
	 color: #b9b1a6;
}
 a:hover {
	 color: white;
}
 a:active {
	 color: #FFFD00;
}
.column{
    text-align: center;
}
p{
    max-width: 80%;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    color: white; 
}
img {
    max-width: 100%;
    height: auto;
    margin:1rem;
}
.desc{
    font-size: 12;
    color:gray;
    font-weight: lighter;
    text-align: center;
}
