html{
    background-color: #222426;

}
.wrapper{
    margin: auto;
}
#paragraph{
    grid-area: paragraph; 
}
#scalper{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5rem;
    max-width: 65%;
    margin:auto;
}
.row {
    display: flex;
    flex-direction: row;
    max-width: 80%;
    margin: auto;
    align-items:center;
    justify-content: space-between;
    height: 40fr;
  }
h1{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: #5e9400
}
.column {
    display: flex;
    flex-direction: column;
    text-align: center;
    height:40rem;
    max-width: 30%;

  }
.centered{
    max-width: 70%;
    margin:auto;
    
}
h2, h3, .centered, .row, p, h1, .column {
    text-align: center;
    max-width: 70%;
    margin: auto;
}
h2{
    margin-top: 5rem;
    font-family: 'Times New Roman', Times, serif;
    color: #5e9400;
}
h3{
    margin-top: 2rem;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
a:link, a:visited, a:hover, a:active {
    font-size: 16;
}
a:link {
	color: #a8a095;
}
 a:visited {
	 color: #b9b1a6;
}
 a:hover {
	 color: white;
}
 a:active {
	 color: #FFFD00;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    color: white;
    margin-bottom: 3rem;
}
.desc{
    font-size: 12;
    color:gray;
    font-weight: lighter;
    text-align: center;
}
.sticky {
    display:flex;
    position: sticky;
    font-size: 28px;
    align-items: center;
    justify-content: space-evenly;
    top: 0;
    max-width: 100%;
    background-color: #5e9400;
    border:black;
    border-style:solid;
}
form{
    margin-bottom:0%;
}
#customer-feedback{
    background-color: #5e9400;
    border:black;
    border-style:solid;
    border-radius: 20px;
    max-width: 50%;
    margin:auto;
}
@media screen and (max-width: 700px) {
    .row{display:flex; flex-direction: column;}
    .column{max-width: 90%; margin-bottom: 4rem;}
    #scalper{display:flex; flex-direction:column; justify-content: space-between; margin: auto; height: auto;}
  }
